<button id="back" (click)="back()" class="btn btn-info" style="float: left;">Home</button> 
<h1>CANDIDATE DATA</h1>
<table>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mail Id</th>
        <th>Work Experience</th>
        <th>How did you hear about us</th>
        <th>What position did you interview for</th>
        <th>How was the interview process </th>
        <th>Did you understand the role you're hiring for</th>
        <th>How consistent was the job description with what was presented to you about the role during the hiring process</th>
        <th>How likely are you to recommend the company to others</th>
        <th>What was your impression about the company and the interview process</th>
        <th>What do you think would make our hiring process better</th>
        <th>Is there anything else you'd like to add about your experience with our hiring process</th>
        <th>Rate your overall interview experience with our organization</th>
    </thead> 
    <tbody>
        <tr *ngFor="let can of candidateData">
            <td>{{can.fname}}</td>
            <td>{{can.lname}}</td>
            <td>{{can.mail}}</td>
            <td>{{can.experience}}</td>
            <td>{{can.cq1}}</td>
            <td>{{can.cq2}}</td>
            <td>{{can.cq3}}</td>
            <td>{{can.cq4}}</td>
            <td>{{can.cq5}}</td>
            <td>{{can.cq6}}</td>
            <td>{{can.cq7}}</td>
            <td>{{can.cq8}}</td>
            <td>{{can.cq9}}</td>      
            <td>{{can.cq10}}</td>      
        </tr>       
    </tbody>
</table>  
<br>
<div id="button">     
<button  class="btn btn-primary"  (click)="getCandidatedata()">View Candidate Data</button>
</div>