.card{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;    
    background: rgba(0,0,0,0.4);
  }
  h1 {
    font-family: Tahoma;
    font-size: 38px;
    color: white;
    text-align: center;
  }
  h2 {
    font-family: Tahoma;
    font-size: 38px;
    color:white;   
    margin-left: 50px; 
  }
  h3 {
      margin-left: 55px;
  }
#personal{
    width: 600px;
    height: 140px;
    border: 2px #5C4033 solid;
    background-color:#D0B49F;
    padding: 10px;
    margin: 20px;
    margin-left: 50px;
    transition: all 0.5s ease; 
    font-size: large;
    font-weight: 500;
}
#personal:hover{
    transform: scale(1.2);
    box-shadow: 1px 2px 10px #BF6336;
}
#text{
    width:480px;
    border: 1px solid #ddd;
    border-radius:3px;
    outline: 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3); 
}
textarea{
    width:480px;
    height: 80px;
    border: 1px solid #ddd;
    border-radius:3px;
    outline: 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3); 
}
.dropdown{
    width:480px;
    border: 1px solid #ddd;
    border-radius:3px;
    outline: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3); 
}
.btn{    
    width: 100px;
    height: 45px;
}

input.ng-invalid{
    border-left: 5px solid red ;
}

input.ng-valid{
    border-left: 5px solid green;
}
