<div class="bg-image" style="background-image: url('../assets/images/sb5.jpg'); background-position: center; background-repeat: no-repeat;">
  <button (click)="back()" class="btn btn-info">Home</button>
  <h1>EMPLOYEE SURVEY</h1> 
    <div class="card" style="width: 90rem">
    &nbsp;
    <h2>Personal Details</h2>
    <div class="form-group">
    <div id="personal">
      <p>
        Employee ID:
        <br />
        <br />
        <input type="text" id="text" class="form-control"  [(ngModel)]="employee.empid" placeholder="Enter your Employee Id"/> 
      </p>
    </div>
  </div>
    <div class="row">
      <div class="container col-md-6">
        <div id="personal">
          <p>
            First Name:
            <br />
            <br />
            <input
              type="text"
              id="text"              
              [(ngModel)]="employee.fname"
              class="form-control"
              placeholder="Enter your First Name"
            />
          </p>
        </div>
      </div>
      <div class="container col-md-6">
        <div id="personal">
          <p>
            Last Name:
            <br />
            <br />
            <input
              type="text"
              id="text"
              [(ngModel)]="employee.lname"
              class="form-control"
              placeholder="Enter your Last Name"
            />
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container col-md-6">
        <div id="personal">
          <p>
            Mail Id:
            <br />
            <br />
            <input
              type="text"
              id="text"
              [(ngModel)]="employee.mail"
              class="form-control"
              placeholder="Enter your Email Id"
            />
          </p>
        </div>
      </div>
      <div class="container col-md-6">
        <div id="personal">
          <p>
            Designation:
            <br />
            <br />
            <input
              type="text"
              id="text"
              [(ngModel)]="employee.desg"
              class="form-control"
              placeholder="Enter your Designation"
            />
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="card" style="width: 90rem">
    &nbsp;
    <h2>Fill the fields below</h2>
    <div class="row">
      <div class="col-md-6">
        <div id="personal">
          <p>
            <label>How long have you been working for the organization?</label>
            <br /><br />
            <select class="dropdown" #ip (click)="chooseIp(ip)">
              <option label="--select something --"></option>
              <option value="0-2 years">0-2 years</option>
              <option value="2-5 years">2-5 years</option>
              <option value="5-10 years">5-10 years</option>
              <option value="Above 10 years">Above 10 years</option>
            </select>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="personal">
          <p>
            <label>Are you satisfied with the job profile?</label>
            <br /><br />
            <select class="dropdown" #q2 (click)="employee.q2 = q2.value">
              <option label="--select something --"></option>
              <option value="Extremely Satisfied">Extremely Satisfied</option>
              <option value="Satisfied">Satisfied</option>
              <option value="Neutral">Neutral</option>
              <option value="Dissatisfied">Dissatisfied</option>
              <option value="Extremely Dissatisfied">
                Extremely Dissatisfied
              </option>
            </select>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="personal">
          <p>
            <label
              >Does your organization appreciate your ideas and
              suggestions?</label
            >
            <br /><br />
            <select class="dropdown" #q3 (click)="employee.q3 = q3.value">
              <option label="--select something --"></option>
              <option value="Strongly Disagree">Strongly Disagree</option>
              <option value="Disagree">Disagree</option>
              <option value="Neutral">Neutral</option>
              <option value="Agree">Agree</option>
              <option value="Strongly Agree">Strongly Agree</option>
            </select>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="personal">
          <p>
            <label
              >Please rate your satisfaction with employee benefits and policies
              of your organization</label
            >
            <br /><br />
            <select class="dropdown" #q4 (click)="employee.q4 = q4.value">
              <option label="--select something --"></option>
              <option value="Extremely Satisfied">Extremely Satisfied</option>
              <option value="Satisfied">Satisfied</option>
              <option value="Neutral">Neutral</option>
              <option value="Dissatisfied">Dissatisfied</option>
              <option value="Extremely Dissatisfied">
                Extremely Dissatisfied
              </option>
            </select>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="personal">
          <p>
            <label>Do you think your good work gets rewarded?</label>
            <br /><br />&nbsp;&nbsp;
            <input
              type="radio"
              id="q5"
              value="Yes"
              name="recruiter"
              [(ngModel)]="employee.q5"
            />
            <label id="radio" for="q4">Yes</label>
            &nbsp;
            <input
              type="radio"
              id="q5"
              value="No"
              name="recruiter"
              [(ngModel)]="employee.q5"
            />
            <label id="radio" for="q4">No</label>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div id="personal">
          <p>
            <label
              >How likely are you to recommend our company to others?</label
            >
            <br /><br />
            <select class="dropdown" #q6 (click)="employee.q6 = q6.value">
              <option label="--select something --"></option>
              <option value="Very Likely">Very Likely</option>
              <option value="Likely">Likely</option>
              <option value="Somewhat Likely">Somewhat Likely</option>
              <option value="Not Likely">Not Likely</option>
              <option value="Not at all likely">Not at all likely</option>
            </select>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container col-md-6">
        <div id="personal">
          <p>
            What did you like the most about working here?
            <br />
            <br />
            <textarea
              placeholder="Enter your suggestions"
              [(ngModel)]="employee.q7"
            ></textarea>
          </p>
        </div>
      </div>
      <div class="container col-md-6">
        <div id="personal">
          <p>
            Do you have any suggestions to improve company/employee relations?
            <br />
            <br />
            <textarea
              placeholder="Enter your suggestions"
              [(ngModel)]="employee.q8"
            ></textarea>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container col-md-6">
        <div id="personal">
          <p>
            Do you have any other comments?
            <br />
            <br />
            <textarea
              placeholder="Enter your suggestions"
              [(ngModel)]="employee.q9"
            ></textarea>
          </p>
        </div>
      </div>
      <div class="container col-md-6">
        <div id="personal">
          <p>
            <label
              >Rate your overall working experience with our organization [rate
              1-5]</label
            >
            <br /><br />&nbsp;&nbsp;&nbsp;
            <input
              type="radio"
              id="q5"
              value="1"
              name="rate"
              [(ngModel)]="employee.q10"
            />
            &nbsp; <label id="radio" for="q4">1</label>
            &nbsp;&nbsp;&nbsp;
            <input
              type="radio"
              id="q5"
              value="2"
              name="rate"
              [(ngModel)]="employee.q10"
            />
            &nbsp;<label id="radio" for="q4">2</label>
            &nbsp;&nbsp;&nbsp;
            <input
              type="radio"
              id="q5"
              value="3"
              name="rate"
              [(ngModel)]="employee.q10"
            />
            &nbsp;<label id="radio" for="q4">3</label>
            &nbsp;&nbsp;&nbsp;
            <input
              type="radio"
              id="q5"
              value="4"
              name="rate"
              [(ngModel)]="employee.q10"
            />
            &nbsp; <label id="radio" for="q4">4</label>
            &nbsp;&nbsp;&nbsp;
            <input
              type="radio"
              id="q5"
              value="5"
              name="rate"
              [(ngModel)]="employee.q10"
            />
            &nbsp; <label id="radio" for="q4">5</label>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3" id="button">
      <h3>
        <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button (click)="reset()" class="btn btn-danger">Clear</button>
      </h3>
    </div>
  </div>
</div>
