*{
    margin: 0;
    padding:0;
    display:flex;
    min-height:5vh;
    font-family: sans-serif;
}

.card{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: rgba(0,0,0,0.3);
  }
 
h1 {
    font-family: Tahoma;
    font-size: 38px;
    color: black;
    justify-content: center;
  }
  h2 {
    font-family: Tahoma;
    font-size: 38px;
    color: #fff; 
    margin-left: 50px;   
  }
  h3 {
    margin-left: 55px;
}
img{
    width:400px;
    height:250px
}
h4{
    text-align: "center";
    padding: 10px;
    font-family: sans-serif;
    font-weight: 700 ;
}
.chk-box{	
    vertical-align: bottom; 
    margin-right:5px; 
    }
.dropdown{
    width:400px;
    border: 1px solid #ddd;
    border-radius:3px;
    outline: 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3); 

}
#text{
    width:400px;
    height: 10px;
    border: 1px solid #ddd;
    border-radius:3px;
    outline: 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3); 
}
textarea{
    width:400px;
    height: 65px;
    border: 1px solid #ddd;
    border-radius:3px;
    outline: 0;
    padding: 15px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0,0,0,0.3);
}
#yr{
    height: 10px;
    border: 1px solid #ddd;
    border-radius:3px;
    outline: 0;
    background-color: #fff;
}
.container .box{
    width: 600px;
    height: 150px;
    background: rgba(0,0,0,0.9);  
    box-shadow: 0 5px 15px rgba(0,0,0,.1) ;
    border-radius: 4px;
    margin:20px;
    margin-left: 50px;
    box-sizing:border-box;
    overflow:hidden;
    align-items:center;
    
}
#ln{
    float: right;
}
.container{
    align-items: center;
}
.container .box .icon{
    position:static;
    width: 60px;
    height:40px;
    color: #fff;
    background: #000 ; 
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700 ;
    transition: 1s;    
}
p{
    display:inline-block;
    color: white;
    align-items: center;
}
.container .box:nth-child(1) .icon
{
    box-shadow: 0 0 0 0 #8bd6f1f6;
    background: #8bd6f1f6;
}
.container .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 600px #8bd6f1f6;
}
.container .box .content
{
 position:static;
 transition:0.5s;
}
.container .box .content p{
    margin:0;
    padding:0;
}
#radio{
    color: #fff;
    vertical-align: bottom; 
    margin-right:5px;
}
#message{
    height: 50px;
    width: 440px;
    margin: auto;
    text-align: center;
    align-content: center;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border-radius:7px;
}

